---
import styles from "./style.module.scss";
const { type, href } = Astro.props;
const isPrimary = type === "primary";
const isSecondary = type === "secondary";
---

<a
  href={href || '#'}
  class:list={[
    styles.button,
    {
      [styles.primary]: isPrimary,
      [styles.secondary]: isSecondary,
    },
  ]}
>
  <slot />
</a>
