---
import ProjectCard from './ProjectCard.astro'
import mernImg from '../../assets/projects/career.webp'
import bootstrapImg from '../../assets/projects/bootstrap.webp'
import linkedinCarouselGenerator from '../../assets/projects/linkedin-carousel-generator.png';
import virtualIg from '../../assets/projects/virtual-ig.webp'

const projects = [
  {
    cover: virtualIg,
    title: 'Virtual IG',
    href: 'https://virtual-ig.vercel.app/#/',
    description: 'Experience seamless collaboration with our real-time coding editor designed for technical interviews. Create private rooms, share a simple link with your interviewees, and instantly start coding together. Both interviewer and interviewee can view and write code in real-time, eliminating the need for screen sharing and providing a distraction-free, interactive coding environment. Perfect for remote technical interviews, pair programming, and collaborative coding sessions.',
    tech_stack: ['Nest.js', 'YJS', 'Websocket', 'Slate.js', 'React.js']
  },
  {
    cover: linkedinCarouselGenerator,
    title: 'Linked In Carousel Generator',
    href: 'https://ravencolevol.github.io/linked_in-post-generator/',
    description: `Created a useful utility app to create stunning Linked In Carousels with few clicks and have a great UI. After you are happy with your edit you could download copiable PDF's instead of DOM screenshots`,
    tech_stack: ['React', 'AntD', 'ReactBeautifulDND', 'React-PDF']
  },
  {
    cover: mernImg,
    title: 'MERN Course App',
    href: 'https://career-climber.herokuapp.com/',
    description: 'Created course site using MERN stack. Used Antd and redux on frontend and fuzzy searching on backend. A project site which uses automated script written in Node.js and Cheerio for scrapping course details from udemy site from link. Whole frontend is made on Antd with multiple routing pages.',
    tech_stack: ['Node', 'MongoDb', 'React', 'ReactRouter', 'API', 'HTML5', 'CSS3', 'BOOTSTRAP4']
  },
  {
    cover: bootstrapImg,
    title: 'Dark Bootstrap',
    href: 'https://codepen.io/ravencolevol/full/NWWXaBB',
    description: `This is more of a frontend project I made to fulfill my need of having a css file which can easily turn any bootstrap project to dark mode easily. I didn't find any such project online so I thought to create one by myself.`,
    tech_stack: ['HTML5', 'CSS3', 'JS', 'BOOTSTRAP4']
  },
]
---

<section class='projects container'>

  <div class='projects__description'>
    <h4>
      <span class='gradient'>Selected Projects<span>
    </h4>
  </div>

  <div class="projects__container">
    {projects.map(project => <ProjectCard project={project} />)}
  </div>

</section>

<style lang='scss'>
  .projects {
    padding: 8rem 2rem;

    &__description {
      display: flex;
      gap: 1rem;
      align-items: flex-end;
      margin-bottom: 4rem;
      flex: 1 1;

      span {
        margin-bottom: 1rem;
      }
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8rem;
    }
  }

  @media only screen and (max-width:56em) {
    .projects {
      &__container {
        gap: 4rem;
      }
    }
  }

  @media only screen and (max-width:37.5em) {
    .projects {
      &__container {
        grid-template-columns: 1fr;
        gap: 4rem;
      }
    }
  }
</style>