---
import { Image } from 'astro:assets';
import logo from '../../assets/logo.png';
const actions = [
  // { text: 'Home', href: '/' },
  // { text: 'Blog', href: '/blogs' }
]
---

<nav>
  <div class='container nav-container'>
    <div class='action__container'>
      <a class="logo" href="/">
        <Image src={logo} alt="Logo" />
      </a>
      {actions.map(action => {
        return (
          <a href={action.href}>{action.text}</a>
        )
      })}
    </div>
    <a 
      target="_blank"
      href="https://www.linkedin.com/in/ravi-lamkoti/" class="cta">
      Let's Talk
    </a>
  </div>
</nav>

<style lang="scss">
  nav {
    background: var(--black-primary);
    color: white;
    padding: 2rem 0;

    & .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
    }

    & .logo {
      margin-right: 2rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        max-width: 5rem;
        height: auto;
      }
    }

    & .action__container {
      display: flex;

    }

    & .action__container a {
      display: inline-block;
      color: white;
      margin-right: 1rem;
      cursor: pointer;
      padding: 1rem 1rem;
    }
  }

  a.cta {
    padding: 1rem 2rem;
    border-radius: 8rem;
    background: var(--white-primary);
    color: var(--black-primary);
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }

  a.cta::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white-primary);
    border-radius: 8rem;
  }

  a.cta:hover {
    transform: translateY(-2px);

    &::before {
      animation: zoomOut .3s ease-in-out;
    }
  }

  @keyframes zoomOut {
    from {
      opacity: .6;
    }
    to {
      opacity: 0;
      transform: scale(1.5);
    }
  }
</style>